:root {
  --main-font-family: "Rubik Doodle Shadow";
  --secondary-font-family: "Rubik Scribble";
}

body {
  background: black;
}
h1 {
  font-family: var(--main-font-family);
  color: white;
}

h2 {
  font-family: var(--secondary-font-family);
  color: white;
}

img {
  display: block;
  margin: 0 auto;
}

.joke-button {
  text-align: center;
  background-color: red;
  font-family: var(--main-font-family);
  font-size: 60px;
}

.joke {
  font-family: var(--secondary-font-family);
  color: white;
  font-size: 40px;
}
